In [29]:
import pandas as pd
import statistics as stat
import numpy as np
data=pd.read_csv('Auto_Sales.csv')
data

           DATE  SALES
0    01/01/2001   5082
1    01/02/2001   5216
2    01/03/2001   5893
3    01/04/2001   5894
4    01/05/2001   6799
..          ...    ...
176  01/09/2015  11927
177  01/10/2015  11924
178  01/11/2015  11467
179  01/12/2015  14161
180  01/01/2016   8566

[181 rows x 2 columns]

In [30]:
sales=data.loc[:,"SALES"]#To filter date column out
sales

0       5082
1       5216
2       5893
3       5894
4       6799
       ...
176    11927
177    11924
178    11467
179    14161
180     8566
Name: SALES, Length: 181, dtype: int64

In [31]:
np.min(sales)

5082

In [32]:
np.max(sales)

14161

In [33]:
np.mean(sales)

8730.209944751381

In [34]:
np.median(sales)

8843.0

In [35]:
stat.mode(sales) #Mode

9351

In [36]:
stat.stdev(sales) #Standard Deviation

1843.347055437321

In [37]:
stat.variance(sales)

3397928.3667894416

In [38]:
str_range = "5082 - 14161"#Range
str_range

'5082 - 14161'

In [39]:
sales.mad()#Mean Absolute deviation

1530.7124324654321