In [1]:
import pandas as pd
import math 
data=pd.read_csv('expt.csv')
data

    Actual  Prediction
0      790         820
1      810         790
2      680         720
3      500         640
4      520         780
5      810         980
6     1120        1550
7     1840        1850
8     1600        1880
9     1250        1600
10     740         890
11     610         690

In [2]:
data['Errors']=data['Actual']-data['Prediction']

In [3]:
data['Absolute Errors']=data['Errors'].abs()

In [4]:
data['Percentage Errors']=data['Errors']/data['Actual']*100

In [5]:
data['Absolute Percentage Errors']=data['Percentage Errors'].abs()

In [6]:
data['Squared Errors']=data['Errors']*data['Errors']

In [7]:
ME=data['Errors'].mean()

In [8]:
MAE=data['Absolute Errors'].mean()
MAE

163.33333333333334

In [9]:
MSE=data['Squared Errors'].mean()
MSE

44483.333333333336

In [13]:
MPE=data['Percentage Errors'].mean()
MPE

-18.668308298873583

In [11]:
MAPE=data['Absolute Percentage Errors'].mean()
MAPE

19.07983093261844

In [12]:
RMSE=math.sqrt(MSE)
RMSE

210.91072360914544

In [14]:
data

,Actual,Prediction,Errors,Absolute Errors,Percentage Errors,Absolute Percentage Errors,Squared Errors
0,790,820,-30,30,-3.797468,3.797468,900
1,810,790,20,20,2.469136,2.469136,400
2,680,720,-40,40,-5.882353,5.882353,1600
3,500,640,-140,140,-28.000000,28.000000,19600
4,520,780,-260,260,-50.000000,50.000000,67600
5,810,980,-170,170,-20.987654,20.987654,28900
6,1120,1550,-430,430,-38.392857,38.392857,184900
7,1840,1850,-10,10,-0.543478,0.543478,100
8,1600,1880,-280,280,-17.500000,17.500000,78400
9,1250,1600,-350,350,-28.000000,28.000000,122500
10,740,890,-150,150,-20.270270,20.270270,22500
11,610,690,-80,80,-13.114754,13.114754,6400